<!DOCTYPE html>
{%extends "Base.html"%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}Asistente Control{%endblock%}</title>
</head>
<body>
<h1>
    Asistente Control
</h1>
{%block content%}
<div class="container">
<table class="table">
  <thead class="table-dark">
  <tr class="tr">
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Fecha_nacimiento</th>
      <th>Edad</th>
      <th>Experiencia</th>
      <th>Ocupacion</th>
      <th>Departamento</th>
      <th>Grado Academico</th>
  </tr>
  </thead>
  <tbody>
  {% for asistente in asistentes %}
    <th>{{ asistente.id}}</th>
    <th>{{ asistente.nombre}}</th>
    <th>{{ asistente.primer_apellido}} {{ asistente.segundo_apellido}}</th>
    <th>{{ asistente.fecha_nacimiento}}</th>
    <th>{{ asistente.edad}}</th>
    <th>{{ asistente.annos_experiencia}} años</th>
    <th>{{ asistente.ocupacion}}</th>
    <th>{{ asistente.id_departamento}}</th>
    <th>{{ asistente.grado_academico}}</th>

  </tbody>
     {% endfor %}
</table>

{{form.as_p}}

{%endblock%}
</div>
</body>
</html>
