<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/Style.css'%}">
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>

</head>

<body>
    <div>
        <div>
            {%include "C:/Users/Developer/Desktop/proyecto/app/templates/Navbar.html"%}
        </div>
        <div>
            {% block content %}
            {% endblock %}


            {%if user.is_authenticated and user.is_staff %}
            <!-- <button onclick="location.href='{% url 'admin:index' %}'" style="margin-top: 39px;">Agregar</button> -->
            <!-- <button onclick="location.href='{% url 'admin:index' %}'" style="margin-top: 39px;">Editar</button> -->
            <!-- <button onclick="location.href='{% url 'admin:index' %}'" style="margin-top: 39px;">Eliminar</button> -->
                
                {%endif%}
        </div>
    </div>
</body>

</html>