<!DOCTYPE html>
<html lang="en">
{% extends "Base.html" %}
<head>
    <title>{%block title%}Contrato{%endblock%}</title>
</head>
<body>
{%block content%}
<div class="container">
<table class="table">
  <thead class="table-dark">
  <tr class="tr">
      <th>Id</th>
      <th>Trabajador</th>
      <th>Departamento Legal</th>
      <th>Descripcion</th>
  </tr>
  </thead>
  <tbody>
  {% for contrato in contratos %}
    <th>{{ contrato.id}}</th>
    <th>{{ contrato.id_trabajador}}</th>
    <th>{{ contrato.id_departamento}}</th>
    <th>{{ contrato.descripcion}}</th>

  </tbody>
     {% endfor %}
</table>
{%endblock%}
</div>

</body>
</html>