<!DOCTYPE html>
{% extends "Base.html" %}

<html lang="en">
<head>
    <title>{%block title%}Suministrador{%endblock%}</title>
</head>
<body class="bg-white">
<h1>Division</h1>
{%block content%}
<div class="container">
<table class="table">
  <thead class="table-dark">
  <tr class="tr">
      <th>Id</th>
      <th>Descripcion</th>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Año</th>
  </thead>
  <tbody>
  {% for departamento in departamentolegal %}
    <th>{{ departamento.id}}</th>
    <th>{{ departamento.descripcion}}</th>
    <th>{{ departamento.nombre}} </th>
    <th>{{ departamento.ano}}</th>

  </tbody>
     {% endfor %}
</table>
    {%endblock%}
</div>

</body>
</html>