<!DOCTYPE html>
{% extends "Base.html" %}

<html lang="en">
<head>
    <title>{%block title%}Suministrador{%endblock%}</title>
</head>
<body class="bg-white">
{%block content%}
<h1>Productos</h1>
<div class="container">
<table class="table">
  <thead class="table-dark">
  <tr class="tr">
      <th>Id</th>
      <th>Suministrador</th>
      <th>Descripcion</th>
      <th>Producido</th>
  </tr>
  </thead>
  <tbody>
  {% for producto in productos %}
    <th>{{ producto.id}}</th>
    <th>{{ producto.id_suministrador}}</th>
    <th>{{ producto.descripcion}} </th>
    <th>{{ producto.fecha_produccion}}</th>

  </tbody>
     {% endfor %}
</table>
    {%endblock%}
</div>

</body>
</html>