<!DOCTYPE html>
{% extends "Base.html" %}

<html lang="en">
<head>
    <title>{%block title%}Suministrador{%endblock%}</title>
</head>
<body class="bg-white">
<h1>Suministrador</h1>
{%block content%}
<div class="container">
<table class="table">
  <thead class="table-dark">
  <tr class="tr">
      <th>Id</th>
      <th>Nombre</th>
      <th>Calle</th>
      <th>Num Calle</th>
      <th>Municipio</th>
      <th>Provincia</th>
      <th>Clasificacion</th>
  </tr>
  </thead>
  <tbody>
  {% for suministrador in suministrador %}
    <th>{{ suministrador.id}}</th>
    <th>{{ suministrador.nombre}}</th>
    <th>{{ suministrador.numero_calle}} </th>
    <th>{{ suministrador.municipio}}</th>
    <th>{{ suministrador.provincia}}</th>
    <th>{{ suministrador.clasificacion}} años</th>

  </tbody>
     {% endfor %}
</table>
    {%endblock%}
</div>

</body>
</html>